<!DOCTYPE html>

<polymer-element name="data-actions">
        <template>
                <style>
                </style>
        </template>
        <script>
                !function($) {
                        // Static constructor

                        // Private properties
                        // (None)

                        // Public object
                        Polymer({
                                ready: function() {

                                }

                        });
                }(jQuery);
        </script>
</polymer-element>
