<!DOCTYPE html>
<polymer-element name="sqldash-checkbox" attributes="name value checked">
	<template>
		<paper-checkbox id="ui"></paper-checkbox>
		<input id="input" style="display:none;" 
			   type="checkbox" 
			   name="{{name}}" value="{{value}}" 
			   checked="{{checked}}" />
	</template>
	<script>
		Polymer({
			ready: function() {
				var self = this;
				
				$(this.$.ui).change(function() {
					$(self).shadow('input')
						.prop('checked', $(this).hasAttr('checked'))
						.attr('data-checked', $(this).hasAttr('checked')? 1 : 0);
					$(self).trigger('change');
				});
			}
		});
	</script>
</polymer-element>
